@font-face {
    font-family: 'Fanwood';
    src: URL('../resources/fonts/FanwoodText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fanwood Italic';
    src: URL('../resources/fonts/FanwoodText-Italic.ttf') format('truetype');
}

body {
    margin: 0;
    overflow: auto;
}

#content-container,
#header-container {
    position: relative;
    background-color: black;
    height: 100%;
    width: 100%;
    font-family: "Fanwood", Times New Roman, Serif;
    overflow: auto;

}

#content-container {
    background-color: white;
    /*    overflow: auto;*/
    padding: 10%;
}

#header-container {
    background-color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../resources/images/bg-1.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

#main-header-wrapper {
    width: 75%;
    margin-left: 25%;
    padding-bottom: 15px;
    border-bottom: 10px solid white;
}

#main-header {
    font-size: 55px;
}

#header-content-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 6%;
    margin-right: 6%;
    text-align: right;
    color: white;
    font-family: "Fanwood", Times New Roman, Serif;
}

hr#header-line {
    border: 6px solid white;
    width: 60%;
    margin-left: 40%;
}

#blurb {
    margin-top: 40px;
    font-size: 19px;
    line-height: 31px;
}

#disclaimer {
    position: fixed;
    bottom: 5px;
    right: 5px;
    left: 5px;
    font-size: 12px;
    color: white;
    font-family: "Fanwood Italic", Times New Roman, Serif;
}

#email-counter {
    margin-top: 50px;
    font-size: 36px;
}

#form-content-wrapper input[type="text"],
select {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 30px;
    border-radius: 0px;
    border: 1px solid black;
    font-family: Fanwood, Times New Roman, Serif;
    font-size: 16px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

#form-content-wrapper input[type="text"]:focus {
    outline: none !important;
}

#form-content-wrapper select {
    cursor: pointer;
}

#form-content-wrapper input[type="checkbox"] {
    vertical-align: baseline;
    margin-bottom: 30px;
    cursor: pointer;
}

#form-content-wrapper label {
    font-size: 18px;
    line-height: 18px;
}

#officials {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 30px;
    overflow-x: auto;
    margin-top: 5px;
    padding: 15px;
    color: #000000;
    display: inline-flex;
}

.btn {
    font-family: Fanwood, Times New Roman, Serif;
    font-size: 20px;
    height: 48px;
    width: 229px;
    color: white;
    background: black;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 30px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.btn:hover {
    color: black;
    background: white;
    cursor: pointer;
}

#incidents {
    width: 100%;
    height: 150px;
    /*    max-height: 300px;*/
    border: 1px solid black;
    margin-bottom: 30px;
    overflow-y: auto;
    margin-top: 5px;
    padding: 15px;
    color: #000000;
}

#incidents a {
    text-decoration: none;
}

.officials-card {
    height: 144px;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Fanwood", Times New Roman, Serif;
    padding: 13px;
    margin-right: 20px;
}

.officials-position,
.officials-email {
    font-size: 13px;
    word-wrap: break-word;
    font-family: "Fanwood Italic";
}

.officials-name {
    font-family: "Fanwood", "Times New Roman", Serif;
    font-size: 14px;
    word-wrap: break-word;
    margin-bottom: 10px;
}

#header-container-bg {
    width: 100%;
    height: 100%;
    /*    position: absolute;*/


}

#warning {
    position: fixed;
    font-family: "Fanwood Italic";
    bottom: 8px;
    right: 8px;
    margin-left: 8px;
    font-size: 14px;
    line-height: 14px;
}

.warning-img {
    vertical-align: middle;
    margin-right: 5px;
}

#feedback-wrapper {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    padding: 80px;
    margin-bottom: 60px;
}

#thanks {
    font-size: 36px;
    line-height: 47px;
    margin-bottom: 30px;
}

#missing-data {
/*        margin-bottom: 10px;*/
}

#feedback {
        display: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#scroll {
    display: none;
    color: white;
    text-align: center;
    font-family: "Fanwood", Times New Roman, Serif;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
}

#error-messages {
    color: red;
    font-family: "Fanwood", Times New Roman, Serif;
    font-size: 18px;
}

#results {
    margin-bottom: 30px;
}

.hidden-input {
    display: none;
}

.email-results {
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hidden-textarea {
    display: none;
}

.error-msg {
    display: none;
    color: red;
    float: right;
}

#form-content-wrapper {
/*    display: none;*/
}

.email-results-item a {
    color: rgb(10, 132, 255);
    /*    border-bottom: 1px solid black;*/
    vertical-align: top;
}

.right-align-anchor {
    float: right;
}

#instructions {
    margin-bottom: 20px;
    font-family: "Fanwood Italic";
    border: 1px solid black;
    padding: 10px;
    font-size: 15px;
}

#mock-email-address, #mock-email-subject, #mock-email-body {
    margin-top: 10px;
    border: 1px solid black;
    padding: 5px;
    font-size: 15px;
    word-wrap: break-word;
}

#mock-email-body {
    resize: none;
    height: 200px;
    width: 100%;
    font-family: "Fanwood", "Times New Roman", Serif;
}

#mock-email {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 992px) {
    #mock-email-address, #mock-email-subject, #mock-email-body {
        margin-top: 10px;
        padding: 10px;
        font-size: 23px;
        word-wrap: break-word;
    }
    
    #mock-email-body {
        height: 300px;
        font-size: 23px;
    }
    
    #instructions {
        font-size: 25px;
        margin-bottom: 40px;
    }
    
    .email-results {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .email-results-item {
        line-height: 50px;
    }

    #content-container {
        overflow: hidden;
    }

    #header-container {
        overflow: hidden;
        padding-top: 40%;
        padding-bottom: 10%;
    }

    body {
        overflow: auto;
    }

    /* Styling the inputs to be more visible on mobile */
    #form-content-wrapper input[type="text"],
    select {
        height: 50px;
        font-size: 25px;
        padding: 5px;
    }

    #form-content-wrapper input[type="checkbox"] {
        font-size: 25px;
    }

    #form-content-wrapper label {
        font-size: 25px;
        line-height: 25px;
    }

    #incidents,
    #officials {
        font-size: 25px;
    }

    .btn {
        font-family: Fanwood, Times New Roman, Serif;
        font-size: 40px;
        height: 120px;
        width: 490px;
        margin-top: 80px;
    }

    #thanks {
        font-size: 60px;
        margin-bottom: 100px;
    }

    #results,
    #missing-data {
        font-size: 30px;
        line-height: 40px;
    }

    #results {
        margin-bottom: 70px;
    }

    li {
        margin-bottom: 20px;
    }

    li:last-child {
        margin-bottom: 0px;
    }

    #blurb {
        font-size: 35px;
        line-height: 45px;
    }

    #main-header {
        font-size: 80px;
    }

    .officials-card {
        height: 240px;
        width: 180px;
        padding: 20px;
        margin: 10px;
    }

    .officials-position,
    .officials-email {
        font-size: 22px;
    }

    .officials-name {
        font-size: 30px;
    }
}

@media (min-width: 992px) {
    .email-results-item {
        line-height: 25px;
    }

    #content-container {
        overflow: auto;
    }

    body {
        overflow: hidden;
    }

    #content-container,
    #header-container {
        height: 100vh;
    }
}
#send, #copy {
    height: 40px;
    width: auto;  
    padding-right: 30px;
    padding-left: 30px;
    font-size: 20px;
    margin-bottom: 0px;
}



#email-issues-message {
    margin-bottom: 20px;
}
